/* root를 이용해서 css 변수를 만들 수 있음 */
:root {
  --text-color: #f0f4f5;
  --background-color: #263333;
  --accent-color: #d49466;
}

/* body li 등등 기본적은 margin 이나 padding 이 있으니 주의! */
body {
  margin: 0;
  font-family: "Source Sans Pro";
}

a {
  text-decoration: none;
  /* css 변수는 이렇게 쓴다! */
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263333;
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar__logo i {
  color: #d49466;
}

.navbar__menu {
  display: flex;
  list-style-type: none;
  padding-left: 0px;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: #d49466;
  border-radius: 5px;
}

.navbar__icons {
  list-style: none;
  color: white;
  font-size: 24px;
  display: flex;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__togleBtn {
  display: none;
  position: absolute;
  right: 25px;
  font-size: 24px;
  color: #d49466;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-flow: nowrap column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu {
    display: none;
    flex-flow: nowrap column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    width: 100%;
    justify-content: center;
    padding-left: 0px;
  }

  .navbar__icons li {
    padding: 8px 12px;
  }

  .navbar__togleBtn {
    display: inline;
  }

  .navbar__icons.active,
  .navbar__menu.active {
    display: flex;
  }
}
